.arrow {
  margin: 2px 0px 0px 0px;
  height: 14px;
  cursor: pointer;
  width: 15px;
  margin-left: auto;
  margin-right: auto;
}

#reddit_comments .arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAMAAABBJv+bAAAAt1BMVEWUlP+bm/+wsP+0tP+7u/+/v//Bwf//jGH/lW3/rY7/s5f/uqH/v6f///+Skv+UlP+amv+bm/+env+hof+np/+pqf+urv+wsP+0tP+2tra3t7e4uLi7u/+8vLy9vb2+vr6/v//AwMDBwcHBwf/CwsLHx8fIyMjKysrNzc3Ozs7T09PU1NTY2Njb29vc3Nz/il7/i2D/jGH/k2v/lW3/mXP/m3b/o4H/pob/rI3/rY7/s5f/uqH/v6ezogKWAAAADnRSTlMAAAAAAAAAAAAAAAAAAKroblcAAAFFSURBVHjaXdOJcoIwEAbgjdhaUQvesChYq/XEAt7o+z9XN5vFzuTPMLvDNxOOJNAwyaV2TFAqiBbiotNI2OgxO+b/HCUYo2HWU5ZlJ3bWOSJ+IbMou2EkDckjzTwzh+cnTcIwRBoJOYj+ineiGFErhZ4P+VEnz6ViElMQozihgdD4oFyLorjqxrz5Kp5OV9wxN+/n8/nefPFmsZhvXuy65eVyKV234u1y+bOruNVqPW6324Oq8H693uyF25RnWZZP3RhOd7ttarjNrMMd3zykaXow/K7zrcOdzcAcBMHsjQL25KDq9fpkNBpNqCqwXo1YOU4wGAwCx1HC8mHCqjbu9/vjmhKW3yJMGfq+P1TM1k/1ujqeJ9VeEnKP8kkXdWAvqLgo2NtBe4+1Rwr2ZhIXBXsrGu/S4M7eyOK+UbCPQeVSrUP0B0gCQSDh8Lc2AAAAAElFTkSuQmCC);
}

#reddit_comments .arrow.up {
  background-position: -15px 0;
}

#reddit_comments .arrow.upmod {
  background-position: 0px 0;
}

#reddit_comments .arrow.down {
  background-position: -15px -14px;
}

#reddit_comments .arrow.downmod {
  background-position: 0px -14px;
}

#reddit_comments .readOnly .arrow {
  visibility: hidden;
}

.midcol {
  float: left;
  margin-left: 0px;
  width: 15px;
  margin-right: 7px;
}

.link .midcol {
  font-weight: bold;
  font-size: small;
  width: 6.1ex;
}

.link .score {
  text-align: center;
}

.entry .score, .midcol .score {
  display: none;
}

.entry.unvoted .score.unvoted, .entry.likes .score.likes, .entry.dislikes .score.dislikes {
  display: inline;
}

.midcol.unvoted .score.unvoted, .midcol.likes .score.likes, .midcol.dislikes .score.dislikes {
  display: block;
  color: #888;
}

.comment .entry {
  padding-right: 5px;
  overflow: hidden;
  margin-left: 3px;
  opacity: 1;
}

.comment .child, .comment .showreplies {
  margin-left: 15px;
  border-left: 1px dotted #DDF;
  margin-top: 10px;
}

.child .comment {
  margin-left: 10px;
}

.comment.collapsed {
  padding-bottom: 10px;
}

.comment.collapsed .midcol {
  visibility: hidden;
  height: 1px;
}

.comment.collapsed .usertext, .comment.collapsed .child, .comment.collapsed .buttons {
  display: none;
}

.comment.collapsed .author {
  font-style: italic;
}

.md p {
  font-size: 1em;
  line-height: 1.4285714285714286em;
}


#reddit_comments #comments {
  margin-top: 20px;
}

#reddit_comments .author {
  font-weight: bold;
}

#reddit_comments {
margin: 20px 0px;
padding-bottom: 20px;
width: var(--flex640-mode-player-width);
border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}

#reddit_comments > #nav {
height: 50px;
width: 100%;
display: flex;
}

#reddit_comments > #nav > #thread_select {
width: 100%;
font-family: "Lucida Console", Monaco, monospace;
height: 40px;
font-size: 12px;
background-color: #FDFDFD;
}

#reddit_comments > #title {
width: 100%;
margin: 10px 5px;
}

#reddit_comments > #comments {
font: normal x-small verdana,arial,helvetica,sans-serif;
word-wrap: break-word;
margin-left: 5px;
}

#reddit_comments > #title .title > a {
text-decoration: none;
font-size: 1.7em;
}

#reddit_comments > #title .tagline {
font-size: 1.25em;
color: #888;
}

#reddit_comments > #top_bar {
display: flex;
justify-content: space-between;
margin-bottom: 1px;
}

.live-timestamp {
padding: 0px !important;
}

.tagline {
font-size: 1.1em;
}

.tagline > a.author {
text-decoration: none;
padding-right: 0px;
margin-right: 5px;
}

.tagline > a.author:hover {
text-decoration: underline;
}

.tagline > .score {
font-weight: 600;
}

.tagline > .live-timestamp {
color: #888;
}

.tagline * {
padding-right: 5px;
}

.usertext-body > div > p, .md > blockquote > p, .md > ul > li, .md > ol > li, .md > pre {
margin-top: 4px;
font-size: 1.38em;
}

#nothread {
width: 100%;
text-align: center;
}

#expand, .expand {
color: #369;
text-decoration: none;
font-family: "Lucida Console", Monaco, monospace;
letter-spacing: -1px;
}

#expand:hover {
text-decoration: underline;
cursor: pointer;
}

.reddit_hidden {
display: none !important;
}

.md > blockquote {
padding: 0 8px;
margin: 0px;
margin-left: 5px;
border-left: 2px solid #c5c1ad;
color: #4f4f4f;
}

#reddit_comments > #comments a {
text-decoration: none;
}

#reddit_comments > #comments a:hover {
text-decoration: underline;
}

.md > ul, .md > ol {
padding-left: 40px;
margin: 10px 0px;
}

a.author.submitter, a.author.moderator {
color: white;
padding: 2px;
border-radius: 2px;
font-weight: bold;
}

a.author.submitter {
background-color: #0055DF;
}

a.author.moderator {
background-color: #4FC761;
}

a.awarding-link {
text-decoration: none;
}

span.deepthread {
font-size: 1.25em;
}

.md > pre {
display: block;
font-family: monospace;
white-space: pre;
border: 1px solid #e6e6de;
background-color: #fcfcfb;
border-radius: 2px;
padding: 5px;
}

#reddit_comments > #comments th {
font-weight: bold;
font-size: 1.38em;
padding: 5px;
border: 1px solid grey;
}

#reddit_comments > #comments td {
font-size: 1.38em;
padding: 5px;
border: 1px solid grey;
}

#reddit_comments > #comments table {
margin-top: 5px;
border: 1px solid grey;
border-collapse: collapse;
}

@media (max-width: 999px) {
#reddit_comments {
  order: 7;
  width: 100% !important;
}
}

.reddit_spoiler {
color: black;
background-color: lightgrey;
padding: 2px 5px;
line-height: 20px;
}

.reddit_spoiler:hover {
color: black;
text-decoration: none !important;
cursor: text;
}

.reddit_spoiler::after {
content: attr(title);
visibility: visible;
background-color: #808080;
color: #808080;
border-radius: 2px;
margin-left: 5px;
padding: 0px 3px;
}

.reddit_spoiler:hover::after {
color: white;
}

#reddit_comments h2 {
-webkit-margin-before: 0em !important;
-webkit-margin-after: 0em !important;
}

#reddit_comments #title p.tagline {
margin-top: 3px !important;
-webkit-margin-after: 0em !important;
}

.titleTime {
margin-left: 10px;
}

#mySortSelect {
display: flex;
}

#mySortSelect > select {
position: relative;
bottom: 1px;
}

/* Start dark mode */

html[dark] #loading_roy {
color: var(--yt-primary-text-color) !important;
}

html[dark] #reddit_comments #comments {
color: var(--yt-primary-text-color) !important;
}

html[dark] #reddit_comments #top_bar {
color: var(--yt-primary-text-color) !important;
}

html[dark] #reddit_comments a {
color: #2693E6;
}

html[dark] #reddit_comments a:hover {
color: var(--yt-primary-text-color);
}

html[dark] #reddit_comments .child {
border-left-color: #888888 !important;
}

html[dark] #reddit_comments #thread_select, html[dark] #mySortSelect > select {
background-color: #444444 !important;
color: var(--yt-primary-text-color);
border-color: #444444;
border-radius: 2px;
}

html[dark] .md > blockquote {
border-left-color: #777777;
color: #888888;
}

html[dark] a.author.submitter {
background-color: #0f05a8;
}

html[dark] #reddit_comments #title {
color: var(--yt-primary-text-color);
}

html[dark] #reddit_comments .md pre {
background-color: #444444 !important;
border-color: #2d2d2d !important;
}

html[dark] #reddit_comments .arrow {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAMAAABBJv+bAAAAulBMVEUjJCSUlP+bm/+wsP+0tP+7u/+/v//Bwf//jGH/lW3/rY7/s5f/uqH/v6ciIiIjIyMkJCQlJSUyMjI0NDQ2NjY3Nzc5OTk7Ozs8PDw9PT0+Pj4/Pz9AQEBBQUFCQkJDQ0NGRkZISEiSkv+UlP+amv+bm/+env+hof+np/+pqf+urv+wsP+0tP+7u/+/v//Bwf//il7/i2D/jGH/k2v/lW3/mXP/m3b/o4H/pob/rI3/rY7/s5f/uqH/v6frU0yEAAAADnRSTlMAAAAAAAAAAAAAAAAAAKroblcAAAFDSURBVHjaddOJToNAEIDh2S3VWtqlitBKD4tgT6oCvWnf/7WcmR2NUfwTMpN8YdOELbRshUywRSCJltaFn4cjYavbfEsuPPZNKO+z7vI835EzjwJjTH/ALCpOHIUG855CYj6Zw/OJ+wPD9YYBsuiHOISRZ2z3Yx+g2FJFIfMxxqZoMfUArTvsWJblkRb7y4mnvDG3z/v9/tz+h123OhwOlevWcqfTuZxOpwvOGu5i16qqrrT84S4zxRtQMSZ8S71TvAljlhVzlmVvN5iybIz5Yt1sNjer1WqDU9ewdpxssVhkjqNrWTfW8/l83dC1jC3TNF3qOk5eqSSR6ccYM+WDSsiSF3xwUxAMe+bHB1fWRRV8f3AvCgEZfcY6Q0WGQZ9ULpsSJ2WWyxZGIEzn08nMclWDEQizp6zCMIkmICwu89ef6BOMZzanB7uviwAAAABJRU5ErkJggg==);
}

.gilded-icon {
position: relative;
display: inline-block;
margin: 0 0 -15px 8px;
top: -8px;
color: #99895F;
font-size: .9em;
vertical-align: middle;
}

.gilded-icon:before {
display: inline-block !important;
content: '' !important;
background-image: url("https://www.redditstatic.com/sprite-reddit.6Om8v6KMv28.png") !important;
background-repeat: no-repeat !important;
height: 14px !important;
width: 13px !important;
margin-right: 2px !important;
vertical-align: -3px !important;
background-position: 0px -1639px !important;
}

.morechildren {
margin-top: 7px;
}

.morecomments a {
color: #0000DD;
font-size: smaller;
font-weight: bold;
  margin: 1px;
}

.comment.controversial > .entry .score::after {
content: "†";
position: relative;
top: -2px;
color: #CC0000;
}

.awarding-icon {
  max-width: 12px;
  max-height: 12px;
  vertical-align: -2px;
  padding-right: 0px;
}

.awardings-bar {
margin-left: 2px;
}

#comments .awardings-bar {
margin-left: 4px;
}

.awarding-link {
margin-right: 4px;
padding: 0px;
}

.awarding-icon-container {
margin-right: 2px;
padding: 0px;
}

#loading_roy {
margin: 20px 0px;
padding-bottom: 20px;
width: var(--flex640-mode-player-width);
border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}

#comments .md {
  margin-top: 5px;
  margin-bottom: 5px;
}


.flat-list {
  list-style-type: none;
}

.flat-list li {
  display: inline-block;
  border: none;
  line-height: 1.6em;
}

.flat-list li a {
  color: #888 !important;
  font-weight: bold;
  padding-right: 5px;
  text-decoration: none
}

#reddit_comments textarea {
  width: 500px;
  height: 100px;
}

.commentarea> .usertext {
  margin: 0 0 10px 10px;
  overflow: auto;
}

.usertext button {
  margin: 5px 5px 10px 0;
}

span.status {
  color: red;
  font-size: small;
}

.del-button .error {
  display: none;
}