#inputError, #duplicateError {
    color: red;
    display: none;
    word-wrap: normal;
    max-width: inherit;
}

body {
    position: relative;
    vertical-align: middle;
    font-family: sans-serif;
}

#blacklistInput {
    flex: 1;
}

#input {
    display: flex;
}

.remove {
    color: red;
    cursor: pointer;
}